@import '@fontsource/fira-mono';
@import './fonts.scss';
@import './variables.scss';
@import './prism-xonokai.css';

:root {
	font-family: 'Roboto', $font-fallback;
	font-size: 1rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	margin: 0;
	text-rendering: optimizeSpeed;
	line-height: 1.6;
	overflow-y: scroll;
	background-color: $color-white;
	font-family: 'Roboto';
	font-size: 1rem;

	> div {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	white-space: nowrap;
	text-align: center;
	font-weight: 900;
	font-size: 16rem;
	font-family: 'Roboto Condensed';

	@media (max-width: $mq-xxxl) {
		font-size: 11rem;
	}

	@media (max-width: $mq-xxl) {
		font-size: 9rem;
	}
}

p {
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 300;
}

a {
	color: $color-red;
	text-decoration-style: dotted;
}

ul,
ol[role='list'] {
	list-style-type: none;
	display: flex;
	font-weight: 300;
}

input,
button,
textarea {
	font-size: inherit;
	font-family: inherit;
}

textarea,
input {
	outline: none;
	padding: 0.6rem 1rem;
	border-radius: 0.8rem;
	border: 1px solid $color-grey-dark;

	&:focus,
	&:active {
		background-color: $color-grey-light-mid;
	}
}

textarea {
	resize: none;
}

button {
	height: 3rem;
	width: fit-content;
	padding: 0 1.5rem;
	border: none;
	border-radius: 0.7rem;
	color: $color-white;
	background-color: $color-black;

	@media (max-width: $mq-sm) {
		width: 100%;
	}

	&:enabled:hover {
		cursor: pointer;
		color: $color-red;
	}
	&:disabled {
		background-color: $color-grey-mid;
		color: $color-grey-dark;
	}
}

html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}
