/* source-sans-pro-200 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('./fonts/source-sans-pro-v21-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./fonts/source-sans-pro-v21-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/source-sans-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./fonts/source-sans-pro-v21-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/source-sans-pro-v21-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./fonts/source-sans-pro-v21-latin-900.woff') format('woff'), /* Modern Browsers */
}
